@*@using Session_Storage.Controllers
@model Book*@

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@*

<h1>@ViewBag.age</h1>
<h1>@ViewBag.name</h1>
<h1>@ViewBag.surname</h1>*@

@*
<p>@Model.Id</p>
<p>@Model.Title</p>
<p>@Model.Author</p>
*@